@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  max-width: 100%;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;

  position:relative;
  margin-bottom: 10px;
  z-index:30;
  transition: opacity .3s ease, transform .6s ease;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 170px;
  padding: 10px;
  border: 1px solid transparent;
  height: 100vh;
  box-sizing: border-box;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  opacity: 1;
  border: 1px solid #5d4f6eb5;
  animation: begindrag .8s ease forwards;
}
.endDrag {
  opacity: 1;
  transition: opacity .5s ease;
  animation: reverse endDrag .4s ease forwards;
}
.hide {
  display: none;
}

.hovered {
  border: 1px dashed #178caf;
  background: rgba(34, 134, 205, .25);
}


@keyframes endDrag {
  0% {
    transform: scale(1) rotate(0deg)
  }
  50% {
    transform: scale(1.1) rotate(-2deg)
  }
  100% {
    transform: scale(0) rotate(3deg)
  }
}

@keyframes begindrag {
  0% {
    transform: rotate(0deg)
  }
  10% {
    transform: rotate(-8deg)
  }
  30% {
    transform: rotate(6deg)
  }
  55% {
    transform: rotate(-3deg)
  }
  80% {
    transform: rotate(1deg)
  }
  100% {
    transform: rotate(-1deg)
  }
}
